module {{ .Module }}

go {{ .GoVersion }}

require (
	github.com/gin-gonic/gin v1.9.1
	github.com/google/uuid v1.6.0
	github.com/shopspring/decimal v1.3.1
	gorm.io/gorm v1.25.7
	gorm.io/driver/postgres v1.5.4
)
